*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Acme', sans-serif;
}

body{
    background-color: rgb(247, 245, 242);
}



.tittlePage{
    text-align: center;
    padding-top: 8px;
    padding-bottom: 20px;
    background-color: rgb(44, 44, 44);
    color: white;
    
}

/* Random Section */

.randomSection h2{
    margin-left: 16px;
    margin-top: 4px;
}

.randomDiv{
    margin-top: 20px;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    
}

.randomDiv article img{
    width: 400px;
    height: 350px;
    margin-right: 24px;
    border-radius: 4px;
}
.randomDiv article:nth-child(1){
    margin-left: 24px;
}

.randomDiv article:nth-child(4){
    margin-left: 24px;
}

.randomDiv article button{
    margin: 12px 150px
}

.randomButton{
    /* background-color: lightgray; */
    /* background-color: rgb(100, 231, 225, 0.7); */
    background-color: rgb(44, 44, 44);
    color: white;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
}

.randomButton:hover{
    cursor: pointer;
}

.repeat{
    margin: 40px 40px;
    text-align: center;
}

.renewButton{
    font-size: 16px;
    padding: 8px;
    padding-bottom: 4px;
    border-radius: 8px;
    color: white;
    background-color: rgb(17, 17, 17);
}

.renewButton:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.9);
}


.faceDog{
    width: 20px;
    height: 20px;
}

/* Favourites Section */

.favouriteSection h2{
    margin-left: 16px;
    margin-top: 4px;
}

.favouriteDiv{
    margin-top: 20px;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    
}

.favouriteDiv article img{
    width: 400px;
    height: 350px;
    margin-right: 24px;
    border-radius: 4px;
}
.favouriteDiv article:nth-child(1){
    margin-left: 24px;
}

.favouriteDiv article:nth-child(4){
    margin-left: 24px;
}

.favouriteDiv article:nth-child(7){
    margin-left: 24px;
}

.favouriteDiv article button{
    margin: 12px 150px
}

.favouriteButton{
    /* background-color: lightgray; */
    /* background-color: rgb(100, 231, 225, 0.7); */
    background-color: white;
    color: rgb(44, 44, 44);
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
}

.favouriteButton:hover{
    cursor: pointer;
}


/* Media */

@media (max-width:1150px)
{
    .randomSection{
        
    }
    .randomDiv{

        margin-left: 24px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: left;
    }
    .randomDiv article:nth-child(1){
        margin-left: 0px;
    }
    .randomDiv article:nth-child(4){
        margin-left: 0px;
    }
}

@media (max-width:700px)
{
    .randomDiv{

        margin-left: 24px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        text-align: left;
    }
}