*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Acme', sans-serif;
}

body{
    background-color: rgb(247, 245, 242);
}



.tittlePage{
    text-align: center;
    padding-top: 8px;
    padding-bottom: 20px;
    background-color: rgb(44, 44, 44);
    color: white;
}

/* Random Section */

.randomSection h2{
    margin-top: 4px;
    text-align: center;
}

.randomDiv{
    margin-top: 20px;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    
}

.randomDiv article img{
    width: 300px;
    height: 250px;
    margin-right: 120px;
    border-radius: 4px;
}
.randomDiv article:nth-child(1){
    margin-left: 120px;
}

.randomDiv article:nth-child(4){
    margin-left: 120px;
}

.randomDiv article button{
    margin: 12px 100px
}

.randomButton{
    /* background-color: lightgray; */
    /* background-color: rgb(100, 231, 225, 0.7); */
    background-color: rgb(44, 44, 44);
    color: white;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
}

.randomButton:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.repeat{
    margin: 40px 20px 20px 20px;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.renewButton{
    font-size: 16px;
    padding: 8px;
    padding-bottom: 4px;
    border-radius: 8px;
    color: white;
    background-color: rgb(17, 17, 17);
}

.renewButton:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.9);
}


.faceDog{
    width: 20px;
    height: 20px;
}

/* Favourites Section */

.favouriteSection h2{
    text-align: center;
}

.favouriteDiv{
    margin-top: 20px;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    
}

.favouriteDiv article img{
    width: 300px;
    height: 250px;
    margin-right: 120px;
    border-radius: 4px;
}
.favouriteDiv article:nth-child(1){
    margin-left: 120px;
}

.favouriteDiv article:nth-child(4){
    margin-left: 120px;
}

.favouriteDiv article:nth-child(7){
    margin-left: 120px;
}

.favouriteDiv article button{
    margin: 12px 72px;
}

.favouriteButton{
    /* background-color: lightgray; */
    /* background-color: rgb(100, 231, 225, 0.7); */
    background-color: rgb(44, 44, 44);
    color: white;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
}

.favouriteButton:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

/* Uploading Section */
#uploadingH2{
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 20px;
    margin-left: 12px;
}

#uploadingSection{
    border-bottom: 1px solid black;
    padding-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

#uploadingForm{
    
}
#uploadingForm input{
    margin-left: 24px;
}
#uploadingForm button{
    margin-left: 100px;
    margin-top: 12px;
    text-align: center;
    background-color: rgb(44, 44, 44);
    color: white;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
}

#uploadingForm button:hover{
    cursor: pointer;
}

#imagePreview{
    display: block;
    padding-top: 12px;
    margin-left: 8px;
}




/* Media */

@media (max-width:1150px)
{
    .randomDiv{

        margin-left: 24px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: left;
    }
    .randomDiv article:nth-child(1){
        margin-left: 0px;
    }
    .randomDiv article:nth-child(4){
        margin-left: 0px;
    }

    .favouriteDiv{

        margin-left: 24px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        text-align: left;
    }
    .favouriteDiv article:nth-child(1){
        margin-left: 0px;
    }
    .favouriteDiv article:nth-child(4){
        margin-left: 0px;
    }
    .favouriteDiv article:nth-child(7){
        margin-left: 0px;
    }
}

@media (max-width:700px)
{
    .randomDiv{

        margin-left: 24px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        text-align: left;
    }

    .favouriteDiv{

        margin-left: 24px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        text-align: left;
    }
}

@media (max-width:270px){
    #uploadingForm button{
        margin-left: 64px;
        
    }
}